# Python
__pycache__/
*.pyc
*.pyo

# Database
*.db

# Environment files
.env
.env.local
.env.development
.env.test
.env.staging

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/settings.json